.task-item{
    margin-top: 15px;
    i{
        padding-right: 15px;
        &:hover{
            color: #3d3a3a;
            cursor: pointer;
        }
    }
    span{
        display: inline-block;
        margin-left: 15px;
    }
}